* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.navigation-items{
    padding: 15px 0;
    display: flex;
    list-style: none;
}

.items-links{
    margin-right: 20px;
    color: #202020;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper{
    margin: 0 auto;
}

.items-list{
    padding-left: 20px;
}

body{
    display: flex;
    min-height: 100vh;
}

.line{
    margin: 10px 0;
}

.footer{
    padding: 20px 0;
    display: flex;
}

.links-footer{
    margin: 0 10px;
}

.logo-image{
    width: 80px;
}